{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Dexa Group Training",
    "description": "project ini menggunakan NodeJS",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "dexa.jefriherditriyanto.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Karyawan",
      "description": "API untuk management karyawan"
    }
  ],
  "schemes": ["http", "https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/api/karyawan": {
      "post": {
        "summary": "menambah karyawan",
        "tags": ["Karyawan"],
        "description": "menambah karyawan baru",
        "parameters": [
          {
            "name": "input",
            "in": "body",
            "schema": {
              "$ref": "#/request/insert"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "karyawan berhasil ditambah",
            "schema": {
              "$ref": "#/response/only_message"
            }
          },
          "400": {
            "description": "dob bukan format date, email bukan format email, gender tidak tersedia, marital_status tidak tersedia, phone_number sudah ada, email sudah ada",
            "schema": {
              "$ref": "#/response/only_message"
            }
          },
          "405": {
            "description": "wajib mengisi body (name, gender, dob, phone_number, email, password, religion, marital_status, address)",
            "schema": {
              "$ref": "#/response/only_message"
            }
          },
          "500": {
            "description": "error server",
            "schema": {
              "$ref": "#/response/only_message"
            }
          }
        }
      },
      "patch": {
        "summary": "mengubah karyawan",
        "tags": ["Karyawan"],
        "description": "mengubah karyawan yang sudah ada didalam database",
        "parameters": [
          {
            "name": "update",
            "in": "body",
            "schema": {
              "$ref": "#/request/update"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "berhasil merubah data karyawan",
            "schema": {
              "$ref": "#/response/only_message"
            }
          },
          "400": {
            "description": "dob bukan format date, email bukan format email, gender tidak tersedia, marital_status tidak tersedia, karyawan tidak ada, email sudah ada",
            "schema": {
              "$ref": "#/response/only_message"
            }
          },
          "405": {
            "description": "id dibutuhkan di body, wajib mengisi salah satu body (name, gender, dob, phone_number, email, password, religion, marital_status, address)",
            "schema": {
              "$ref": "#/response/only_message"
            }
          },
          "500": {
            "description": "karyawan tidak terupdate, error server",
            "schema": {
              "$ref": "#/response/only_message"
            }
          }
        }
      },
      "delete": {
        "summary": "menghapus karyawan",
        "tags": ["Karyawan"],
        "description": "menghapus karyawan yang ada didalam database",
        "parameters": [
          {
            "name": "delete",
            "in": "body",
            "schema": {
              "$ref": "#/request/delete"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "karyawan berhasil dihapus",
            "schema": {
              "$ref": "#/response/only_message"
            }
          },
          "500": {
            "description": "error server",
            "schema": {
              "$ref": "#/response/only_message"
            }
          }
        }
      }
    },
    "/api/karyawan/{show}/{page}/{order_by}/{keyword}": {
      "parameters": [
        {
          "name": "show",
          "in": "path",
          "required": true,
          "description": "menampilkan berapa banyak data",
          "type": "integer"
        },
        {
          "name": "page",
          "in": "path",
          "required": true,
          "description": "halaman berapa yang ingin ditampilkan",
          "type": "integer"
        },
        {
          "name": "order_by",
          "in": "path",
          "required": true,
          "description": "urutan list data (asc, desc)",
          "type": "string"
        },
        {
          "name": "keyword",
          "in": "path",
          "required": true,
          "description": "kata pencarian",
          "type": "string"
        }
      ],
      "get": {
        "tags": ["Karyawan"],
        "summary": "tampilkan data karyawan (pagination)",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/response/pagination"
            }
          },
          "401": {
            "description": "token bearer tidak valid",
            "schema": {
              "$ref": "#/response/only_message"
            }
          },
          "403": {
            "description": "token bearer dibutuhkan",
            "schema": {
              "$ref": "#/response/only_message"
            }
          },
          "500": {
            "description": "error server",
            "schema": {
              "$ref": "#/response/only_message"
            }
          }
        }
      }
    }
  },
  "request": {
    "insert": {
      "required": [
        "name",
        "gender",
        "dob",
        "phone_number",
        "email",
        "password",
        "religion",
        "marital_status",
        "address"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "gender": {
          "type": "string",
          "enum": ["pria", "wanita"]
        },
        "dob": {
          "type": "string"
        },
        "phone_number": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "religion": {
          "type": "string"
        },
        "marital_status": {
          "type": "string",
          "enum": ["nikah", "belum nikah"]
        },
        "address": {
          "type": "string"
        }
      }
    },
    "update": {
      "required": [
        "id",
        "name",
        "gender",
        "dob",
        "phone_number",
        "email",
        "password",
        "religion",
        "marital_status",
        "address"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "uniqueItems": true
        },
        "name": {
          "type": "string"
        },
        "gender": {
          "type": "string",
          "enum": ["pria", "wanita"]
        },
        "dob": {
          "type": "string"
        },
        "phone_number": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "religion": {
          "type": "string"
        },
        "marital_status": {
          "type": "string",
          "enum": ["nikah", "belum nikah"]
        },
        "address": {
          "type": "string"
        }
      }
    },
    "delete": {
      "required": ["id"],
      "properties": {
        "id": {
          "type": "integer",
          "uniqueItems": true
        }
      }
    }
  },
  "response": {
    "pagination": {
      "required": [
        "data",
        "totalData",
        "currentPage",
        "lastPage",
        "nextPage",
        "prevPage"
      ],
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "uniqueItems": true
              },
              "create_date": {
                "type": "string"
              },
              "phone_number": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "password": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "dob": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "religion": {
                "type": "string"
              },
              "gender": {
                "type": "string"
              },
              "marital_status": {
                "type": "string"
              }
            }
          }
        },
        "totalData": {
          "type": "number"
        },
        "currentPage": {
          "type": "number"
        },
        "lastPage": {
          "type": "number"
        },
        "nextPage": {
          "type": "number"
        },
        "prevPage": {
          "type": "number"
        }
      }
    },
    "only_message": {
      "required": ["message"],
      "properties": {
        "message": {
          "type": "string"
        }
      }
    }
  }
}
